.activeFromActiveTab {
  background-color: white;
  /* opaity: visible; */
}

.completedFromActiveTab {
  display: none;
  transition: display 1s ease;
}

.completedFromCompletedTab {
  text-decoration: line-through;
}

.activeTask {
  background-color: white;
}
