.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
}

.button:hover {
  filter: brightness(105%);
  transition: all 0.3s;
}
.button:active {
  filter: brightness(95%);
}

.primary {
  color: white;
  background-color: #34a8b5;
  min-height: 60px;
  width: 250px;
  font-size: 34px;
}

.addTask {
  color: white;
  background-color: #34a8b5;
  height: 50px;
  min-width: 50px;
  width: 50px;
  font-size: 24px;
  font-weight: 300;
}

.tool {
  height: 30px;
  min-width: 30px;
  width: auto;
  font-size: 14px;
}

.tool:disabled {
  cursor: not-allowed;
}

.exit {
  height: 30px;
  min-width: 30px;
  width: auto;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
