form.form{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;

}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
button{
    font-size: 18px;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--color-green);
    padding: 10px 40px 10px 40px;
    width: 80%;
    display: flex;
    margin-bottom: 10px;
    color: white;
    text-align: center;

}