.input-field label {
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-field input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #555;
  max-width: 100%;
}

.form__inputs-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 76.8rem) {
  .form__inputs-group {
    display: flex;
    flex-direction: column;
  }
}
