
    /* pseudo */

.inputField:hover{
    border-bottom: 1px solid gray;
}
.submit:active{
    border: 1px solid lightgray;
}

    /* common */

.formWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inputField{
    padding: 5px;
    border: 1px solid lightgray;
    border-width: 0 0 1px;
    background-color: #fdfcff;
    font-size: 16px;
    width: 250px;
}
.submit{
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;
    padding: 5px;
    background-color: rgb(6, 225, 177);
}