.TodoList {
  justify-content: center;
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.TodoList__item {
  position: relative;
  display: flex;
  padding: 15px;
  border: 1px solid #bac8ff;
  border-radius: 4px;
  background-color: #edfdfd;
  width: 100%;
  justify-content: space-between;
}
