.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 5px;
}

.tab {
  padding: 10px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
}
.tab:hover {
  position: relative;
  top: -3px;
}
.tab:active {
  background-color: #5fc6d3;
}

.tab:active:hover {
  background-color: #5fc6d3;
}

.highlited {
  background-color: #5fc6d3;
  transition: all 0.3s;
}

.normal {
  background-color: white;
  transition: all 0.3s;
}
