.add > input {
  width: 280px;
  border: 0;
}

.add {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-bottom: 20px;
}

.add > div {
  cursor: pointer;
  color: black;
}
