.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.numOfActiveTasks {
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  top: -5%;
  right: 0%;
  max-height: 50px;
  min-width: 120px;
  text-overflow: ellipsis;
}

.green {
  color: rgb(0, 255, 170);
}
.mediumText {
  font-weight: 300;
  font-size: 26px;
  line-height: 1;
}

.largeText {
  padding-top: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
}
