.currentTab {
  background-color: aquamarine;
}

.tab {
  background-color: white;
}

.container {
  margin: 10px;
}

.container button {
  /* border-radius: 10px; */
  margin: 10px;
  font-size: 1.5em;
  width: 200px;
}