.TodoWrapper__item input {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.TodoWrapper__item input:checked,
.TotoWrapper__item input:checked + button {
  opacity: .3;
}

.TodoWrapper__item input:checked + p {
  text-decoration: line-through;
  color: rgba(0, 0, 0, .4);
}

.TodoWrapper__list input:checked + label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .6);
}


.TodoWrapper__item:not(:last-child) {
  margin-bottom: 10px;
}

.TodoWrapper__item label{
  border: 1px solid #000;
  border-radius: 10px;
  padding: 25px 20px;
  display: flex;
  align-items: center;
}

.TodoWrapper__item button {
  margin-left: auto;
  padding: 15px 15px 10.2px;
  position: relative;
  z-index: 3;
}

.TodoTab__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.TodoTab__item:not(:last-child) {
  margin-right: 25px;
}

.TodoTab__item button {
  padding: 10px 20px;
  background-color: rgba(0, 0, 255, .7);
}

.TodoTab__item button:focus,
.TodoTab__item button:hover {
  outline: transparent;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, 1);
  background-color: rgba(0, 0, 255, 1);
}

.Empty {
  text-align: center;
}