.header{
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.color-div{
    color: red;
    height: 15px;
    margin-bottom: 5px;
    font-size: 13px;
}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
.wrapper{
    width: 50vw;
    height: 50vh;

}