.input__buttons-group {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.btn {
  width: 25rem;
  height: 4rem;
  border-radius: 10rem;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
  border: 3px solid #9c36b5;
  letter-spacing: 1.3px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-outline {
  background-color: transparent;
  color: #9c36b5;
}

.btn-full {
  background-color: #9c36b5;
  color: #f8f0fc;
}

.btn-outline:hover,
.btn-outline:focus {
  background-color: #9c36b5;
  color: #f8f0fc;
}

.btn-full:hover,
.btn-full:focus {
  background-color: #f8f0fc;
  color: #9c36b5;
}

@media (max-width: 48rem) {
  .input__buttons-group {
    flex-direction: column;
    gap: 2rem;
  }
}
