        /* pseudo */
.inputField:hover{
    border-bottom: 1px solid gray;
}
.inputField[type="reset"]:active, .inputField[type="submit"]:active{
    border: 1px solid lightgray;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fdfcff inset !important;
}
        /* */
.label{
    margin: 10px 3px 0;
    font-size: 14px;
    color:rgba(22, 3, 30, 0.75);
}
.inputField{
    padding: 3px 3px 8px;
    width: 100%;
    resize: none;
    border: 1px solid lightgray;
    border-width: 0 0 1px;
    background-color: #fdfcff;
    font-size: 16px;
}
.inputField[type="date"]{
    color: rgb(167, 167, 167);
    font-size: 12px;
}
.hasDateValue{
    padding: 3px 3px 8px;
    width: 100%;
    border: 1px solid lightgray;
    border-width: 0 0 1px;
    background-color: #fdfcff;
    color: black;
    font-size: 16px;
}
.inputField[type="reset"], .inputField[type="submit"]{
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
}
.inputField[type="reset"]{
    background-color: white;
    border-width: 1px;
}
.inputField[type="submit"]{
    background-color: rgb(6, 225, 177);
    font-weight: bolder;
}
.error{
    color:red;
    font-size: 11px;
    font-style: italic;
}