.container {
}

.btnWrap {
}

.button {
  width: 230px;
  padding: 12px 0;
  box-sizing: border-box;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  cursor: pointer;
}

.button:not(:last-child) {
  border-right: transparent;
}

.button:hover {
  background-color: var(--accent-color);
  color: #000;
}
