.navbar{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;

}
.logo img{
    width: 100px;
    height: 100px;
}

li{

    text-decoration:none;
}
.activeTodo{


    display: inline;
    text-align: center;
    margin-bottom: 2rem;
    color: #e1ebfd;
    text-shadow: 0 0 5px #433aa8, 3px -1px 5px #271c6c;

}