@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  color: #55495f;
  font-size: 16px;
  padding: 8px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
