.questionForm {
  width: 500px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  background-color: #3D5A80;
}

.buttons {
  margin-top: 10px;
  
}

.buttons button{
  background-color: #DCD6F7;
  width: 50%;
  height: 30px;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  color: #3D5A80;
}