*, *::before, *::after {
    box-sizing: border-box;
  }

.form {
    background-color: rgb(146, 247, 250);
    width: 800px;
    margin: auto;
    margin-top: -22px;
}

input, textarea {
    width: 70%;
    padding:10px;
    border-radius:1px;
    border: 2px solid #eee;
    margin: 5px 15%; 
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}


h1 {
    color: #363636;
    padding-top: 25px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
}

h2 {
    margin: 0px 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
}

.all_btn{
    display: flex;
    
}

.btn {
    height: 40px;
    margin: 20px 15%;
    border:none;
    background-color:#8c8c8c;
    color:#fff;
    font-weight:400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:20%;
}