.header {
  padding: 20px;
  background-color: rgb(0, 0, 255);
  color: #fff;
  margin-bottom: 25px;
}

.header__title {
  font-style: italic;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner p {
  font-size: 22px;
}