.myButton {
  background-color: #f37579;
  border: 5px solid transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  height: 50px;
  padding: 10px;
  width: 250px;
}
.myButton:hover {
  background-color: #f16065;
  border: 5px solid #f16065;
}
.myButton:active {
  background-color: #f37579;
  border: 5px solid #f16065;
}
