.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  color: #3D5A80;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  background-color: #3D5A80;
  border-radius: 10px;
}

.wrapper td {
  padding: 10px 5px;
  word-break: break-word;
  width: 350px;
}

.wrapper tr {
  background-color: #1c2a3b;
}

.wrapper tr :first-child {
  width: 150px;
  text-align: right;
}
