:root {
    --color-primary: #f4f4f4;
    --color-secondary: #495057;
    --color-green: #37af65;
    --bg-primary: #1b1b32;
    --bg-form: rgba(27, 27, 50, 0.8);
}
body{
    color: var(--color-primary);
    background-color: var(--bg-primary);

}
#root{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.App{
    width: 50vw;
    height: 50vh;


}
h1{
    text-align: center;
}
form{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;

}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
button{
    font-size: 18px;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--color-green);
    padding: 10px 40px 10px 40px;
    width: 80%;
    display: flex;
    margin-bottom: 10px;
    color: white;
    text-align: center;

}
h4{
    margin-top: 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="web"],
input[type="date"],
select,
textarea {
    width: 100%;

    color: var(--color-secondary);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem 0 2rem 0;
    border: none;
    border-radius: 4px;
    -webkit-transition: outline 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
    -o-transition: outline 0.15s ease-out, box-shadow 0.15s ease-out;
    transition: outline 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;


}