.header {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h1 {
  margin: 0;
  padding: 20px;
}

.navigation {
  width: 100%;
  background-color: black;
  padding: 10px;
  color: darkcyan;
  font-size: larger;
}

.navigation a {
  border: 1px;
  border-radius: 5px;
  background-color: azure;
  padding: 5px;
}

.navigation a:visited {
  color: darkcyan;
}

.wrapper {
  width: 100%;
}