        /* pseudo */
:focus{
  outline: none;
}
:focus::placeholder{
  opacity: 0.4;
}
::placeholder {
  color: rgb(167, 167, 167);
  opacity: 0.8;
  font-size: 12px;
}

        /* common styles */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.background{
  background-color: rgba(22, 3, 30, 0.85);
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
  padding: 20px 30px;
  background-color: #fdfcff;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: #333 1px 1px 10px 1px;
}
.disable{
  display: none;
}

