.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  box-sizing: border-box;
  width: 78%;
}

.todoRow:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todoRow:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(212, 0, 179, 1) 100%
  );
}

.todoRow:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.iconWrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 120px;
}

.icon {
  cursor: pointer;
  padding: 5px;
}
