.btn {
  background-color: black;
  border-radius: 5px;
  border-color: aqua;
  border-width: 1px;
  color: aqua;

}

.span {
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px;
}

.user {
  padding-right: 10px;
}