@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&family=Ubuntu:wght@300;400;500;700&display=swap');

textarea {
  border: 1px solid rgb(180, 180, 180);
  resize: none;
  display: block;
  width: 100%;
  border-radius: 5px;
}

input {
  border: 1px solid rgb(180, 180, 180);
  display: block;
  width: 100%;
  border-radius: 5px;
}
label {
  display: flex;
  column-gap: 10px;
  font-weight: 800;
  color: rgb(96, 94, 94);
  font-size: 22px;
  width: 100%;
}

.inputText {
  color: rgb(96, 94, 94);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.inputText:focus {
  outline: 3px solid #dcc3ec;
}

.formInput {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 18px;
  justify-content: start;
  width: 100%;
  min-height: 100px;
}
.symbolsLimit {
  font-size: 14px;
  padding-top: 5px;
  font-weight: 400;
  align-self: center;
}

.errorMessage {
  font-size: 14px;
  color: #ef4147;
  min-height: 30px;
}

.invisible {
  color: transparent;
  min-height: 30px;
}

::placeholder {
  color: rgb(151, 150, 150);
}
