.message {
  width: 100%;
  padding: 20px 0 20px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid var(--text-color);
  font-family: var(--accent-font);
  margin-top: -20px;
  margin-bottom: 30px;
}
